<!-- timetable_app/templates/timetable_app/download_timetable.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download Timetable</title>
</head>
<body>
    <h1>Timetable Download</h1>
    <p>Click the button below to download the generated timetable:</p>
    
    <!-- Use the new URL for the button -->
    <a href="download_generated_timetable" download>
        <button>Download Timetable</button>
    </a>
</body>
</html>
